* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  /* body {
    background: linear-gradient(
      90deg,
      rgba(48, 16, 255, 1) 0%,
      rgba(100, 115, 255, 1) 100%
    );
  } */
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 520px;
    min-height: 100px;
    background: #949ab0;
    text-align: center;
    /* margin: 128px auto; */
    border-radius: 10px;
    padding-bottom: 32px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  h6 {
    margin: 10px 0;
    color: black;
    font-size: 16px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    /* margin-bottom: 32px; */
  }
  
  .todo-input {
    padding: 5px 32px 5px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid black;
    outline: none;
    width: 320px;
    background: transparent;
    color:black;
  }
  
  .todo-input::placeholder {
    /* color: #e2e2e2; */
    color: #fff;
  }
  
  .todo-button {
    padding: 7px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: rgb(185, 128, 23);
    /* background: linear-gradient(
      90deg,
      rgb(208, 179, 32) 0%,
      rgb(130, 207, 48) 100%
    ); */
    color: black;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    /* padding: 16px 22px; */
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: black;
    background: #ffeaa7;
    padding: 8px;
    border-radius: 5px;
    width: 81%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: #74b9ff;
  }
  
  .todo-row:nth-child(4n + 2) {
    background: #00b894;
  }
  
  .todo-row:nth-child(4n + 3) {
    background: #a29bfe;
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }