#container1 {
    margin-top: 20px;
    /* color: white; */
}

#container2 {
    /* color: white; */
    margin-top: 20px;
}

#imageContainer{
    /* color: white; */
    padding: 22px
}

#h6{
    color: black
}

#recipeData{
    margin-bottom: 40px;
}
#legends{
    color: black;
    font-weight: bold;
}
