.followrecipe-container{
    min-height: 25rem;
    position: relative;
}

.followrecipe-button-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.followrecipe-inst-col{
    display: flex;
    align-items: center;
}

.time-text{
    font-size: 3rem;
}

.steps-div{
    position: absolute;
    bottom: -4rem;
    left: 2rem;
    opacity: 0.1;
    font-size: 17rem;
    font-family: 'Dancing Script', cursive;
}