.followrecipe-container{
    min-height: 25rem;
}

.followrecipe-button-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.followrecipe-inst-col{
    color: white;
    display: flex;
    align-items: center;
}

.time-text{
    color: white;
    font-size: 3rem;
}