#container1 {
    margin-top: 20px;
}

#container2 {
    margin-top: 20px;
}

#imageContainer{
    padding: 22px
}

#column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

#row:after {
  content: "";
  display: table;
  clear: both;
}

.checkout-title{
  color: #FFFFFF;
}

.checkout-container2{
  background: #AAAAAA;
  color: #FFFFFF;
	max-width: 400px;
	height: auto;
	width: 100%;
	z-index: 1;
	display: grid;
	margin: 0;
	border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
  padding: 2rem;
	@media screen and (max-width: 400px) {
		padding: 32px 32px;
	}
}