li {list-style-type: none;}

/* Add some style to the list */

.react-list-select {
	margin-right: 0.5em;
}

.react-list-select--item.is-selected {
	background: #f5cca7;
}

.react-list-select--item.is-disabled {
	color: #afafaf;
}

.listtopass-div{
	display: flex;
}

.left-button{
	margin-right: 1rem;
}

.recipe-list-ul{
	display: flex;
	flex-direction: column;
}