#bannerRecipe {
    background: url('../../assets/images/banner.jpg') no-repeat;
    background-size: cover;
    filter: grayscale(65%);
    font-size: 30px;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.banner-col{
    height: 8rem;
    align-items: center;
    display: flex;
}

.text-center {
    text-align:center
 }

.h1Center {
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    margin-bottom: 0px;
    font-size: 4rem;
}